body {
  background: rgb(250, 253, 255);
  color: rgb(64, 62, 62);
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

.secondary {
  color: rgb(122, 120, 120);
}

.head {
  text-align: center;
  font-weight: bolder;
  width: 99%;
  top: -10px;
  margin-bottom: 40px;
  margin-left: -7px;
  color: rgb(45, 97, 45);
  position: absolute;
}

.subtitle {
  margin-top: -48px;
  font-weight: 300;
  margin: auto;

  color: rgb(39, 39, 39);
  width: 248px;
  opacity: 0.6;
  border-radius: 4px;
}

h1 {
  font-size: 36px;
  font-weight: 600;
  opacity: 0.2;
  margin-bottom: -10px;
}

.menu {
  position: fixed;
  top: 20px;
  left: 20px;
  width: 140px;
}

.nav {
  display: block;
  text-decoration: none;
  color: rgb(122, 120, 120);
  transition: 0.5s ease-in-out;
  line-height: 2em;
  font-weight: 300;
}

.nav:hover {
  color: black;
  font-weight: 400;
}

.main {
  width: 65vw;
  margin: auto;
  margin-left: 200px;
  margin-top: 155px;
  font-family: "Mukta", sans-serif;
}

.title {
  color: rgb(175, 175, 175);
  margin: auto;
  font-size: 30px;
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  margin-bottom: 3px;

  margin-top: -3px;
}

.biodiv {
  margin: 30px 0px;
}

.bioimg {
  float: left;
  width: 86px;
  height: 86px;
  margin: 1px 13px 0px 0px;
  border-radius: 10px;
}

.bioname {
  font-weight: bold;
}

.biotext {
  grid-area: bio;
  font-size: 15px;
}

.philimg {
  width: 65vw;
}

.essaytitle {
  font-size: 30px;
  font-weight: normal;
}

.italic {
  font-style: italic;
}

.bold {
  font-weight: bolder;
}

#black {
  color: black;
}

footer {
  text-align: center;
  color: rgb(45, 97, 45);
  margin-top: 40px;
  font-size: 14px;
}

a {
  color: rgb(65, 141, 65);
}
